{% macro skillBox (title, class, percentage, description) %}
    <div class="skills-box l-wrapper">

      <p class="skills-box-title {{ class }} {{ percentage }}">{{ title }}</p>

      <div class="skills-box-logo {{class }}">
        <svg class="icon icon-{{ class }}"><use xlink:href="#icon-{{ class }}"></use></svg><span class="mls"></span></a>
      </div>
      <div class="skill-box-description">
        <p>
          {{ description | raw}}
        </p>
      </div>
    
    </div>
{% endmacro %}
