{% macro chartItem (title, percentage) %}
  <div class="chart-item">
    <div class="chart-item-baton" data-percentage={{ percentage }}>
      <span class="chart-item-text">{{ title }}</span>
    </div>
  </div>
{% endmacro %}

{% from _self import chartItem %}

<div class="l-container observe" id="advantages-section">
  <h1 class="h2 text-center">Mes atouts</h1>

  <div class="chart" id="chart">
  
    <div class="chart-legend chart-legend--left">
      <div class="chart-legend-title">
        <span>Moi</span>
      </div>
    </div>
    
    <div class="chart-legend chart-legend--right">
      <ul>
        <li class="chart-legend-item">Linus Torvlads</li>
        <li class="chart-legend-item">Très bon</li>
        <li class="chart-legend-item">Bon</li>
      </ul>
    </div>


    <div class="chart-items">
      {{ chartItem('Curieux', 88) }}
      {{ chartItem('Sérieux', 78) }}
      {{ chartItem('Ambitieux', 69) }}
      {{ chartItem('Leader-ship', 58) }}
    </div>

  </div>
</div>