{% import 'macros/skillbox.twig' as helpers %}

<section class="l-section skills-section" id="skills">
  <div class="l-container">
    <h1 class="h2 text-center">{{ 'Mes compétences' | trans }}</h1>
    <p class="sub-title">
      {{ 'Féru des nouvelles technologies web' | trans }}
      <br />
      {{ "Grande capacité d'adaptation et polyvalent, maîtrise de la programmation fonctionnelle et orientée objet." | trans }}
    </p>

    <h2 class="h3 text-center">{{ 'Les langages principaux' | trans }}</h2>
    <div class="skills-language">
      {% for language in data.skills.languages %}
        {{ helpers.skillBox(
          language.name,
          language.class,
          language.level,
          language.description
        ) }}
      {% endfor %}
    </div>

    <h2 class="h3 text-center">Administration système</h2>
    <p class="sub-title">
      Intéressé par les technologies telles que Docker et Ansible. <br />
      Capable de vous accompagner lors de la mise en production, configuration de serveurs HTTP, base de données...
    </p>
    <div class="skills-language l-wrapper">
      {% for language in data.skills.sysadmin %}
        {{ helpers.skillBox(
          language.name,
          language.class,
          language.level,
          language.description
        ) }}
      {% endfor %}
    </div>
  </div>
</section>
