<div class="topbar-background"></div>
<header class="topbar" id="topbar">

	<nav class="topbar-navigation" role="navigation">
		<ul class="topbar-menu">
			<li>
				<a href="#home" class="topbar-link active">{{ 'Accueil' | trans }}</a>
			</li>
			<li>
				<a class="topbar-link" href="#about">{{ 'Présentation' | trans }}</a>
			</li>
			<li>
				<a class="topbar-link" href="#skills">{{ 'Compétences' | trans }}</a>
			</li>
			<li>
				<a class="topbar-link" href="#creations">{{ 'Créations' | trans }}</a>
			</li>
			<li>
				<a class="topbar-link" href="#timeline">{{ 'Formation' | trans }}</a>
			</li>
		</ul>
	</nav>
</header>
