{% import 'cv/macros.twig' as helpers %}

<section class="pro-skills">
    <h1 class="section-title pro-skills-title">Professionnal skills</h1>
    <div class="l-subcontent l-wrapper">
        {{ helpers.skillBox('Git', 'git', 'seventy') }}
        {{ helpers.skillBox('HTML / CSS', 'css', 'ninety') }}
        {{ helpers.skillBox('Javascript', 'js', 'ninety') }}
        {{ helpers.skillBox('VueJS', 'vuejs', 'eighty') }}
        {{ helpers.skillBox('Webpack', 'webpack', 'eighty') }}
        {{ helpers.skillBox('Functionnal programming', 'fp', 'eighty') }}
        {{ helpers.skillBox('PHP', 'php', 'ninety') }}
        {{ helpers.skillBox('Laravel', 'laravel', 'eighty') }}
    </div>
</section>
