.background-blue
    #creations.site-container
        .box-title
            h2.title.white Créations
        .row#emitter

            section.grid(data-target-ref="one")
                div(data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z")
                    figure
                        img(src=require("../../img/sono_mini.png"))
                        svg(viewBox="0 0 180 320" preserveAspectRatio="none")
                            path(d="M 180,160 0,218 0,0 180,0 z")
                        figcaption
                            h2 Sono Light Music
                            p Design simple, efficace
                            button View

            section.grid(data-target-ref="two")
                div(data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z")
                    figure
                        img(src=require("../../img/1.png"))
                        svg(viewBox="0 0 180 320" preserveAspectRatio="none")
                            path(d="M 180,160 0,218 0,0 180,0 z")
                        figcaption
                            h2 Crystalline
                            p Soko radicchio bunya nuts gram dulse.
                            button View
            
            section.grid
                div(data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z")
                    figure
                        img(src=require("../../img/1.png"))
                        svg(viewBox="0 0 180 320" preserveAspectRatio="none")
                            path(d="M 180,160 0,218 0,0 180,0 z")
                        figcaption
                            h2 Crystalline
                            p Soko radicchio bunya nuts gram dulse.
                            button View

        .cd-project-content
            button.close
                svg(class="icon icon-close")
                    use(xlink:href="#icon-close")

            section(data-ref="one")
                h2 Sono Light Music
                p
                    | Site créé pour l'entreprise Sono Light Music. Le projet n'a finalement pas abouti sur la volonté de l'entrepreneur.
                .gallery
                    .gallery-picture
                        img(src=require('../../img/sono/index_m.png'))
                    .gallery-picture
                        img(src=require('../../img/sono/index_5_m.png'))

            section(data-ref="two")
                h2 Hello world :)
