mixin skill(name, img, style)
    .skill(class=(name == "laravel" ? "skill-push" : ''))
        .skill-title(class=(style ? style : name), class=attributes.class)=name
        .skill-container(class=(style ? style : name))
            img.skill-logo(src=require('../img/'+ img), alt=name, style=attributes.style)

#skills.site-container
    .animated
        .box-title.no-padding
            h2.title.black Compétences

        +skill('html', 'html.png')(class='ninety')
        +skill('Javascript', 'js.png', 'js')(class='seventy')
        +skill('php', 'php.png')(class='seventy')
        +skill('laravel', 'laravel.png')(class='sixty')
        .skill.skill-push
            .skill-title.outils.sixty Outils
            .skill-container.outils
                img.skill-logo.svg.webpack(src=require('../img/webpack.svg'))
                img.skill-logo.svg.gulp(src=require('../img/gulp.svg'))
                img.skill-logo.svg.git(src=require('../img/git.svg'))

        
